body {
  background: #E3516E;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: center;
}

@keyframes colorchange {
  0% {background-color: red;}
  100% {background-color: yellow;}
}

@keyframes colorchange {
  0% {background-color: rgb(25, 0, 255);}
  100% {background-color: yellow;}
}

div {
  width: 400px;
  height: 400px;
  background: #dd6b4d;
}

#top-left {
  background: #51B5A9;
  border-radius: 100% 0 0;
    animation: colorchange 2s infinite alternate;
}

#top-right {
  background: #FADE8B;
  border-radius: 0 100% 0 0;
  cursor: pointer;
}

#top-right.animate {
  animation: colorchange 600ms ease;
}

#bottom-left {
  background: #F7F3D7;
  border-radius: 0 0 0 100%;
}
